# Virtual environments
venv/
env/
.fastapienv/
fastapienv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database
*.db

# Environment variables
.env
frontend/.env.local

# OS files
.DS_Store
Thumbs.db

# Alembic
alembic.ini

# Logs
.env

# Frontend dependencies and build output
frontend/node_modules/
frontend/.next/